<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ontmoeting Scoreboard</title>
        <link rel="icon" href="data:," />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" />
        <link rel="stylesheet" href="./style.css" />
        <script src="./vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div :class="{ 'slide': true, 'is-previous': 0 < currentSlide, 'is-next': 0 > currentSlide }">
                <p v-for="team in teams" :key="team.id" :style="{ color: team.color }">
                    {{ team.name }}: {{ team.score.toString().padStart(6, '0') }}
                </p>
            </div>

            <div
                v-for="(team, index) in teams"
                :key="team.id"
                :style="{ backgroundColor: team.color }"
                :class="{ 'slide': true, 'is-previous': index + 1 < currentSlide, 'is-next': index + 1 > currentSlide }"
            >
                <h1 style="margin-bottom: 2vw">{{ team.name }}</h1>
                <h1 style="margin-top: 2vw">{{ team.score.toString().padStart(6, '0') }}</h1>
                <img class="avatar" :src="`images/${team.images[team.currentImage]}`" />
            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>
